@import url('https://fonts.googleapis.com/css?family=Open Sans:normal,bold,italic&display=swap&subset=latin-ext');
body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
.webwin header {
  background: #384452;
  color: #dddddd;
}
.webwin header * {
  color: #BFC9D3 !important;
}
.webwin main {
  background: #F5F5F5;
}
.webwin main * {
  color: #000000;
}
.webwin main h1,
.webwin main h2,
.webwin main h3,
.webwin main h4,
.webwin main h5,
.webwin main h3 span,
.webwin main h4 span,
.webwin main h5 span {
  color: #007084;
}
.webwin footer {
  background: #384452;
}
.webwin footer * {
  color: #BFC9D3 !important;
}
.clientlink main h1,
.clientlink main h2,
.clientlink main h3,
.clientlink main h4,
.clientlink main h5,
.clientlink main h3 span,
.clientlink main h4 span,
.clientlink main h5 span {
  color: #007084;
}
.studioInforma {
  background: transparent;
}
.studioInforma header {
  background: #384452;
  color: #dddddd;
}
.studioInforma header * {
  color: #BFC9D3 !important;
}
.studioInforma main {
  background: #F5F5F5;
}
.studioInforma main * {
  color: #000000;
}
.studioInforma main h1,
.studioInforma main h2,
.studioInforma main h3,
.studioInforma main h4,
.studioInforma main h5,
.studioInforma main h3 span,
.studioInforma main h4 span,
.studioInforma main h5 span {
  color: #007084;
}
.studioInforma main .slick-next,
.studioInforma main .slick-prev {
  background: transparent;
}
.studioInforma footer {
  background: #384452;
}
.studioInforma footer * {
  color: #BFC9D3 !important;
}
.btn-primary,
.btn-default {
  color: #FFFFFF !important;
  background-color: #007084;
  border-color: #0a4955;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-default:hover,
.btn-default:focus,
.btn-default:active {
  color: #FFFFFF !important;
  background-color: #0a4955 !important;
  border-color: #08353e;
}
.pagination>li>a,
.pagination>li>a>span,
.pagination>li>span {
  color: #007084;
}
.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>a:focus>span,
.pagination>li>a:hover>span,
.pagination>li>span:focus,
.pagination>li>span:hover {
  color: #FFFFFF;
  background-color: #0a4955;
  border-color: #08353e;
}
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
  color: #FFFFFF;
  background-color: #007084;
  border-color: #007084;
}
.pagination>li.disabled>a:focus>span,
.pagination>li.disabled>a:hover>span {
  color: #007084;
  background-color: transparent;
}
.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  border-top: 1px solid #007084;
}
.table>thead>tr>th {
  border-bottom: 2px solid #007084;
}
.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: rgba(16,112,130,0.1);
}
.table-hover>tbody>tr:hover {
  background-color: rgba(16,112,130,0.4);
}
a {
  color: #007084;
}
a:hover,
a:focus {
  color: #08353e;
}
.checkbox-new input:checked ~ .checkmark {
  border: 1px solid #007084;
}
.checkbox-new .checkmark {
  border: 1px solid #000000;
}
.checkbox-new .checkmark:after {
  border-right: 3px solid #007084;
  border-bottom: 3px solid #007084;
}
.radio-new input[type="radio"]:checked + label:before,
.radio-new input[type="radio"]:not(:checked) + label:before {
  border: 1px solid #007084;
}
.radio-new input[type="radio"]:checked + label:after,
.radio-new input[type="radio"]:not(:checked) + label:after {
  background: #007084;
}
.calendar-001 .agenda-calendar-carousel .month-name {
  color: #007084;
}
.calendar-001 .agenda-calendar-carousel .weekdays li {
  border-bottom: 3px solid #007084;
}
.calendar-001 .agenda-calendar-carousel .days li a:hover {
  background: rgba(16,112,130,0.1);
}
.calendar-001 .agenda-calendar-carousel .days li a.today {
  background: rgba(16,112,130,0.3);
}
.calendar-001 .contentList-agenda .content-item-body {
  border-left: solid 2px #007084;
}
.calendar-001 .contentList-agenda .content-item-body svg,
.calendar-001 .contentList-agenda .content-item-body svg * {
  fill: #007084;
}
.calendar-002 .agenda-calendar-carousel .month-name {
  color: #007084;
  background: rgba(16,112,130,0.2);
}
.calendar-002 .agenda-calendar-carousel .weekdays li {
  border-bottom: 3px solid #007084;
}
.calendar-002 .agenda-calendar-carousel .days li a:hover {
  background: rgba(16,112,130,0.1);
}
.calendar-002 .agenda-calendar-carousel .days li a.today {
  background: rgba(16,112,130,0.3);
}
.calendar-002 .contentList-agenda .content-item-body {
  border-left: solid 2px #007084;
}
.calendar-002 .contentList-agenda .content-item-body svg,
.calendar-002 .contentList-agenda .content-item-body svg * {
  fill: #007084;
}
.contentList-agenda .content-item-body {
  border-left: solid 2px #007084;
}
.contentList-agenda svg,
.contentList-agenda svg * {
  fill: #007084;
}
.blockquotebox .quote {
  color: #007084;
}
.blockquotebox .quote:before,
.blockquotebox .quote:after {
  color: rgba(16,112,130,0.2);
}
.blockquotebox .explanation {
  color: rgba(16,112,130,0.4);
}
.captcha img {
  border: solid 2px #007084;
}
.captcha .btn-refresh svg {
  fill: #FFFFFF;
}
.bg-consultant h3 {
  color: #007084;
}
.consultation-office form h2 {
  color: #007084;
}
.consultation-office form h2 small {
  color: #007084;
}
.contact-information-001 .contact-information-address {
  color: #007084;
}
.contact-information-001 .contact-information-address svg,
.contact-information-001 .contact-information-address svg * {
  fill: #007084;
}
.newsFilter {
  background-color: rgba(16,112,130,0.1);
  border-bottom: solid 1px #007084;
}
.newsFilter .dropdown-menu li:hover {
  background-color: rgba(16,112,130,0.1);
}
@media only screen and (max-width: 767px) {
  .newsFilter .newsFilter-head-mobile.open svg,
  .newsFilter .newsFilter-head-mobile.open svg * {
    fill: #007084;
  }
}
.form-minimal label {
  color: #007084;
}
.form-minimal .form-control {
  color: #007084;
}
.footer {
  background: #007084;
}
.footer-001 {
  background: #007084;
}
.footer-001 .nav-menu a {
  color: #FFFFFF;
}
.footer-001 .nav-menu a:hover {
  background: #052227;
}
.footer-001 .contact-information-container {
  color: #FFFFFF;
}
.footer-001 .contact-information-container .contact-information-address a {
  color: #FFFFFF;
}
.footer-001 .contact-information-container .contact-information-address a svg,
.footer-001 .contact-information-container .contact-information-address a svg * {
  fill: #FFFFFF;
}
.footer-001 .contact-information-container .contact-information-address a:hover {
  background: #052227;
}
.footer-001 .mini-newsletter-form {
  color: #FFFFFF;
}
.footer-001 .mini-newsletter-form button {
  background: #64B2C1;
}
.footer-001 .mini-newsletter-form button:hover,
.footer-001 .mini-newsletter-form button:focus {
  color: #FFFFFF;
  background: #052227;
}
.footer-001 .disclaimer {
  color: #FFFFFF;
}
.footer-002 .nav-menu li a {
  color: #FFFFFF;
}
.footer-002 .nav-menu li a:hover {
  background: #052227;
}
.footer-003 .container-fluid {
  border-bottom: 1px solid rgba(255,255,255,0.4);
}
.footer-003 .nav-menu li a {
  color: #FFFFFF;
}
.footer-003 .nav-menu li a:hover {
  background: #052227;
}
.footer-003 .disclaimer {
  color: #FFFFFF;
}
.footer-003 .mini-newsletter-form {
  color: #FFFFFF;
}
.footer-003 .mini-newsletter-form button {
  background: #64B2C1;
}
.footer-003 .mini-newsletter-form button:focus,
.footer-003 .mini-newsletter-form button:hover {
  color: #FFFFFF;
  background: #052227;
}
.header-001 .top-bar {
  border-bottom: solid 2px #64B2C1;
}
.header-001 .top-bar .phone svg,
.header-001 .top-bar .phone svg * {
  fill: #007084;
}
.header-001 .top-bar .phone:hover svg,
.header-001 .top-bar .phone:hover svg * {
  fill: #052227;
}
.header-001 .top-bar .social-networks li a:hover {
  color: #052227;
}
.header-001 .top-bar .social-networks li a:hover svg,
.header-001 .top-bar .social-networks li a:hover svg * {
  fill: #052227;
}
.header-001 .top-bar .social-networks li a:hover [class^="lf-icon"],
.header-001 .top-bar .social-networks li a:hover [class*=" lf-icon"] {
  color: #052227;
}
.header-001 .top-bar .social-networks svg,
.header-001 .top-bar .social-networks svg * {
  fill: #007084;
}
.header-001 .top-bar .social-networks [class^="lf-icon"],
.header-001 .top-bar .social-networks [class*=" lf-icon"] {
  color: #007084;
}
.header-001 .top-bar .navigation li svg {
  fill: #007084;
}
.header-001 .top-bar .navigation li .language {
  color: #007084;
}
.header-001 .top-bar .navigation li a svg {
  fill: #007084;
}
.header-001 .top-bar .navigation .cta-text .cta-kind-icon svg,
.header-001 .top-bar .navigation .cta-text .cta-kind-icon svg *,
.header-001 .top-bar .navigation .cta-login .cta-kind-icon svg,
.header-001 .top-bar .navigation .cta-login .cta-kind-icon svg * {
  fill: #007084;
}
.header-001 .top-bar .navigation .cta-text .cta-advance-icon svg,
.header-001 .top-bar .navigation .cta-text .cta-advance-icon svg *,
.header-001 .top-bar .navigation .cta-login .cta-advance-icon svg,
.header-001 .top-bar .navigation .cta-login .cta-advance-icon svg * {
  fill: #007084;
}
.header-001 .top-bar .navigation .cta-text:hover,
.header-001 .top-bar .navigation .cta-text:hover *,
.header-001 .top-bar .navigation .cta-login:hover,
.header-001 .top-bar .navigation .cta-login:hover * {
  color: #052227;
}
.header-001 .top-bar .navigation .cta-text:hover svg,
.header-001 .top-bar .navigation .cta-text:hover svg *,
.header-001 .top-bar .navigation .cta-text:hover * svg,
.header-001 .top-bar .navigation .cta-text:hover * svg *,
.header-001 .top-bar .navigation .cta-login:hover svg,
.header-001 .top-bar .navigation .cta-login:hover svg *,
.header-001 .top-bar .navigation .cta-login:hover * svg,
.header-001 .top-bar .navigation .cta-login:hover * svg * {
  fill: #052227;
}
.header-001 .top-bar .navigation .dropdown .dropdown-menu li {
  border-bottom: 1px solid #007084;
}
.header-001 .top-bar .navigation .dropdown .dropdown-menu li a {
  background: #64B2C1;
  color: #FFFFFF;
}
.header-001 .top-bar .navigation .dropdown .dropdown-menu li.active a {
  background: #052227;
}
.header-001 .top-bar .navigation .dropdown .dropdown-menu li:hover a,
.header-001 .top-bar .navigation .dropdown .dropdown-menu li:focus a {
  background: #052227;
  color: #FFFFFF;
}
.header-001 .logo-header {
  border-bottom: solid 2px #64B2C1;
  background: #FFFFFF;
}
.header-001 .menu-bar {
  background: #007084;
}
.header-001 .menu-bar .min-searcher button:active,
.header-001 .menu-bar .min-searcher button:hover {
  background: #64B2C1 !important;
}
.header-001 .menu-bar .min-searcher button:active svg *,
.header-001 .menu-bar .min-searcher button:hover svg * {
  fill: #FFFFFF;
}
.header-001 .menu-bar .menu-sections li a {
  color: #FFFFFF;
}
.header-001 .menu-bar .menu-sections li a:hover,
.header-001 .menu-bar .menu-sections li a:focus {
  background-color: #052227;
}
.header-001 .menu-bar .menu-sections li.active a {
  background-color: #052227;
}
.header-001 .menu-bar .menu-sections li.dropdown .dropdown-menu li a {
  background-color: #64B2C1;
}
.header-001 .menu-bar .menu-sections li.dropdown .dropdown-menu li.active a,
.header-001 .menu-bar .menu-sections li.dropdown .dropdown-menu li:hover a {
  background-color: #052227;
}
.header-002 .top-bar {
  border-bottom: solid 2px #64B2C1;
}
.header-002 .top-bar .phone svg,
.header-002 .top-bar .phone svg * {
  fill: #007084;
}
.header-002 .top-bar .phone:hover svg,
.header-002 .top-bar .phone:hover svg * {
  fill: #052227;
}
.header-002 .top-bar .social-networks li a:hover {
  color: #052227;
}
.header-002 .top-bar .social-networks li a:hover svg,
.header-002 .top-bar .social-networks li a:hover svg * {
  fill: #052227;
}
.header-002 .top-bar .social-networks li a:hover [class^="lf-icon"],
.header-002 .top-bar .social-networks li a:hover [class*=" lf-icon"] {
  color: #052227;
}
.header-002 .top-bar .social-networks svg,
.header-002 .top-bar .social-networks svg * {
  fill: #007084;
}
.header-002 .top-bar .social-networks [class^="lf-icon"],
.header-002 .top-bar .social-networks [class*=" lf-icon"] {
  fill: #007084;
}
.header-002 .top-bar .navigation li svg {
  fill: #007084;
}
.header-002 .top-bar .navigation li .language {
  color: #007084;
}
.header-002 .top-bar .navigation .cta-text .cta-kind-icon svg,
.header-002 .top-bar .navigation .cta-text .cta-kind-icon svg *,
.header-002 .top-bar .navigation .cta-login .cta-kind-icon svg,
.header-002 .top-bar .navigation .cta-login .cta-kind-icon svg * {
  fill: #007084;
}
.header-002 .top-bar .navigation .cta-text .cta-advance-icon svg,
.header-002 .top-bar .navigation .cta-text .cta-advance-icon svg *,
.header-002 .top-bar .navigation .cta-login .cta-advance-icon svg,
.header-002 .top-bar .navigation .cta-login .cta-advance-icon svg * {
  fill: #007084;
}
.header-002 .top-bar .navigation .cta-text:hover,
.header-002 .top-bar .navigation .cta-text:hover *,
.header-002 .top-bar .navigation .cta-login:hover,
.header-002 .top-bar .navigation .cta-login:hover * {
  color: #052227;
}
.header-002 .top-bar .navigation .cta-text:hover svg,
.header-002 .top-bar .navigation .cta-text:hover svg *,
.header-002 .top-bar .navigation .cta-text:hover * svg,
.header-002 .top-bar .navigation .cta-text:hover * svg *,
.header-002 .top-bar .navigation .cta-login:hover svg,
.header-002 .top-bar .navigation .cta-login:hover svg *,
.header-002 .top-bar .navigation .cta-login:hover * svg,
.header-002 .top-bar .navigation .cta-login:hover * svg * {
  fill: #052227;
}
.header-002 .top-bar .navigation .dropdown .dropdown-menu li {
  border-bottom: 1px solid #007084;
}
.header-002 .top-bar .navigation .dropdown .dropdown-menu li a {
  background: #64B2C1;
  color: #FFFFFF;
}
.header-002 .top-bar .navigation .dropdown .dropdown-menu li.active a {
  background: #052227;
}
.header-002 .top-bar .navigation .dropdown .dropdown-menu li:hover a,
.header-002 .top-bar .navigation .dropdown .dropdown-menu li:focus a {
  background: #052227;
  color: #FFFFFF;
}
.header-002 .logo-header {
  border-bottom: solid 2px #64B2C1;
}
.header-002 .menu-bar {
  background: #007084;
}
.header-002 .menu-bar .menu-sections li a {
  color: #FFFFFF;
}
.header-002 .menu-bar .menu-sections li a:hover,
.header-002 .menu-bar .menu-sections li a:focus {
  background-color: #052227;
}
.header-002 .menu-bar .menu-sections li.active a {
  background-color: #052227;
}
.header-002 .menu-bar .menu-sections li.dropdown .dropdown-menu li a {
  background-color: #64B2C1;
}
.header-002 .menu-bar .menu-sections li.dropdown .dropdown-menu li.active a,
.header-002 .menu-bar .menu-sections li.dropdown .dropdown-menu li:hover a {
  background-color: #052227;
}
.header-003 .top-bar {
  border-bottom: solid 2px #64B2C1;
}
.header-003 .top-bar .phone svg,
.header-003 .top-bar .phone svg * {
  fill: #007084;
}
.header-003 .top-bar .phone:hover svg,
.header-003 .top-bar .phone:hover svg * {
  fill: #052227;
}
.header-003 .top-bar .cta-text .cta-kind-icon svg,
.header-003 .top-bar .cta-text .cta-kind-icon svg *,
.header-003 .top-bar .cta-login .cta-kind-icon svg,
.header-003 .top-bar .cta-login .cta-kind-icon svg * {
  fill: #007084;
}
.header-003 .top-bar .cta-text .cta-advance-icon svg,
.header-003 .top-bar .cta-text .cta-advance-icon svg *,
.header-003 .top-bar .cta-login .cta-advance-icon svg,
.header-003 .top-bar .cta-login .cta-advance-icon svg * {
  fill: #007084;
}
.header-003 .top-bar .cta-text:hover,
.header-003 .top-bar .cta-login:hover {
  color: #052227;
}
.header-003 .top-bar .cta-text:hover svg,
.header-003 .top-bar .cta-text:hover svg *,
.header-003 .top-bar .cta-login:hover svg,
.header-003 .top-bar .cta-login:hover svg * {
  fill: #052227;
}
.header-003 .logo-header {
  background: #FFFFFF;
  border-bottom: solid 2px #64B2C1;
}
.header-003 .menu-bar {
  background: #007084;
}
.header-003 .menu-bar .menu-sections li a {
  color: #FFFFFF;
}
.header-003 .menu-bar .menu-sections li a:hover,
.header-003 .menu-bar .menu-sections li a:focus {
  background-color: #052227;
}
.header-003 .menu-bar .menu-sections li.active a {
  background-color: #052227;
}
.header-003 .menu-bar .menu-sections li.dropdown .dropdown-menu li a {
  background-color: #64B2C1;
}
.header-003 .menu-bar .menu-sections li.dropdown .dropdown-menu li.active a,
.header-003 .menu-bar .menu-sections li.dropdown .dropdown-menu li:hover a {
  background-color: #052227;
}
.header-003 .menu-bar .navigation li a svg,
.header-003 .menu-bar .navigation li a svg * {
  fill: #FFFFFF;
}
.header-003 .menu-bar .navigation li a:hover {
  background: #052227;
}
.header-003 .menu-bar .navigation li a:hover svg,
.header-003 .menu-bar .navigation li a:hover svg * {
  fill: #9ee6f3;
}
.header-003 .menu-bar .navigation .dropdown .dropdown-menu li a {
  background: #64B2C1;
  color: #FFFFFF;
}
.header-003 .menu-bar .navigation .dropdown .dropdown-menu li.active a {
  background: #052227;
}
.header-003 .menu-bar .navigation .dropdown .dropdown-menu li:hover a,
.header-003 .menu-bar .navigation .dropdown .dropdown-menu li:focus a {
  background: #052227;
  color: #FFFFFF;
}
.header-003 .menu-bar .social-networks li a:hover svg,
.header-003 .menu-bar .social-networks li a:hover svg * {
  fill: #FFFFFF;
}
.header-003 .menu-bar .social-networks li a:hover [class^="lf-icon"],
.header-003 .menu-bar .social-networks li a:hover [class*=" lf-icon"] {
  color: #FFFFFF;
}
.header-003 .menu-bar .social-networks svg,
.header-003 .menu-bar .social-networks svg * {
  fill: #FFFFFF;
}
.header-003 .menu-bar .social-networks [class^="lf-icon"],
.header-003 .menu-bar .social-networks [class*=" lf-icon"] {
  color: #FFFFFF;
}
.header-003.light .menu-bar {
  background: #64B2C1;
}
.header-003.light .menu-bar .menu-sections li a {
  color: #007084;
}
.header-003.light .menu-bar .menu-sections li a:hover {
  background-color: #007084;
  color: #FFFFFF;
}
.header-003.light .navigation li a:hover {
  background: #007084;
}
.header-003.light .navigation li a.not-bg-icon {
  color: #007084;
}
.header-003.light .navigation li a.not-bg-icon svg,
.header-003.light .navigation li a.not-bg-icon svg * {
  fill: #FFFFFF;
}
.header-003.light .social-networks li svg,
.header-003.light .social-networks li svg * {
  fill: #007084;
}
.header-003.light .social-networks li [class^="lf-icon"],
.header-003.light .social-networks li [class*=" lf-icon"] {
  color: #007084;
}
.header-003.light .social-networks li a:hover svg,
.header-003.light .social-networks li a:hover svg * {
  fill: #FFFFFF;
}
.header-003.light .social-networks li a:hover [class^="lf-icon"],
.header-003.light .social-networks li a:hover [class*=" lf-icon"] {
  color: #FFFFFF;
}
.header-004 .logo-header {
  background: #007084;
}
.header-004 .logo-header .navigation li a {
  color: #FFFFFF;
}
.header-004 .logo-header .navigation li a svg,
.header-004 .logo-header .navigation li a svg * {
  fill: #FFFFFF;
}
.header-004 .logo-header .navigation li a:hover {
  color: #9ee6f3;
}
.header-004 .logo-header .navigation li a:hover .language {
  color: #9ee6f3;
}
.header-004 .logo-header .navigation li a:hover svg,
.header-004 .logo-header .navigation li a:hover svg * {
  fill: #9ee6f3;
}
.header-004 .logo-header .navigation li li a {
  color: #64B2C1;
}
.header-004 .logo-header .navigation li li a:hover {
  color: #64B2C1;
}
.header-004 .logo-header .social-networks li a:hover {
  color: #052227;
}
.header-004 .logo-header .social-networks li a:hover svg,
.header-004 .logo-header .social-networks li a:hover svg * {
  fill: #9ee6f3;
}
.header-004 .logo-header .social-networks li a:hover [class^="lf-icon"],
.header-004 .logo-header .social-networks li a:hover [class*=" lf-icon"] {
  color: #9ee6f3;
}
.header-004 .logo-header .social-networks svg,
.header-004 .logo-header .social-networks svg * {
  fill: #FFFFFF;
}
.header-004 .logo-header .social-networks [class^="lf-icon"],
.header-004 .logo-header .social-networks [class*=" lf-icon"] {
  color: #FFFFFF;
}
.header-004 .subheader {
  background: #64B2C1;
  border-bottom: 1px solid #007084;
}
.header-004 .subheader h3 {
  color: #FFFFFF;
  border-left: 2px solid #FFFFFF;
}
.header-004 .subheader .min-searcher button:hover svg * {
  fill: #9ee6f3;
}
.header-004 .subheader .menu-sections li a,
.header-004 .subheader .menu-lang li a {
  color: #FFFFFF;
}
.header-004 .subheader .menu-sections li a:hover,
.header-004 .subheader .menu-sections li a:focus,
.header-004 .subheader .menu-lang li a:hover,
.header-004 .subheader .menu-lang li a:focus {
  background-color: #052227;
}
.header-004 .subheader .menu-sections li.active a,
.header-004 .subheader .menu-sections li:hover a,
.header-004 .subheader .menu-lang li.active a,
.header-004 .subheader .menu-lang li:hover a {
  background-color: #052227;
}
.header-004 .subheader .menu-sections li.dropdown .dropdown-menu li a,
.header-004 .subheader .menu-lang li.dropdown .dropdown-menu li a {
  color: #FFFFFF;
  background-color: #64B2C1;
}
.header-004 .subheader .menu-sections li.dropdown .dropdown-menu li.active a,
.header-004 .subheader .menu-sections li.dropdown .dropdown-menu li:hover a,
.header-004 .subheader .menu-lang li.dropdown .dropdown-menu li.active a,
.header-004 .subheader .menu-lang li.dropdown .dropdown-menu li:hover a {
  background-color: #052227;
}
.header-004 .subheader .login-container .captcha svg,
.header-004 .subheader .login-container .captcha svg * {
  fill: #007084;
}
.header-004.light .logo-header {
  background: #FFFFFF;
}
.header-004.light .logo-header .navigation li a .language {
  color: #007084;
}
.header-004.light .logo-header .navigation li a svg,
.header-004.light .logo-header .navigation li a svg * {
  fill: #007084;
}
.header-004.light .logo-header .navigation li a:hover .language {
  color: #052227;
}
.header-004.light .logo-header .navigation li a:hover svg,
.header-004.light .logo-header .navigation li a:hover svg * {
  fill: #052227;
}
.header-004.light .logo-header .social-networks li a:hover svg,
.header-004.light .logo-header .social-networks li a:hover svg * {
  fill: #052227;
}
.header-004.light .logo-header .social-networks li a:hover [class^="lf-icon"],
.header-004.light .logo-header .social-networks li a:hover [class*=" lf-icon"] {
  color: #052227;
}
.header-004.light .logo-header .social-networks svg,
.header-004.light .logo-header .social-networks svg * {
  fill: #007084;
}
.header-004.light .logo-header .social-networks [class^="lf-icon"],
.header-004.light .logo-header .social-networks [class*=" lf-icon"] {
  color: #007084;
}
.header-005 .logo-header {
  background: #007084;
  border-bottom: solid 1px #052227;
}
.header-005 .logo-header .navigation li a svg,
.header-005 .logo-header .navigation li a svg * {
  fill: #FFFFFF;
}
.header-005 .logo-header .navigation li a .language {
  color: #FFFFFF;
}
.header-005 .logo-header .navigation li a:hover,
.header-005 .logo-header .navigation li a:focus {
  color: #FFFFFF;
}
.header-005 .logo-header .navigation li a:hover .language,
.header-005 .logo-header .navigation li a:focus .language {
  color: #FFFFFF;
}
.header-005 .logo-header .navigation li a:hover .language .idioma,
.header-005 .logo-header .navigation li a:focus .language .idioma {
  color: #FFFFFF;
}
.header-005 .logo-header .navigation li a:hover svg,
.header-005 .logo-header .navigation li a:hover svg *,
.header-005 .logo-header .navigation li a:focus svg,
.header-005 .logo-header .navigation li a:focus svg * {
  fill: #FFFFFF;
}
.header-005 .logo-header .navigation .dropdown .dropdown-menu li.active a {
  background: #052227;
}
.header-005 .logo-header .navigation .dropdown .dropdown-menu li:hover a,
.header-005 .logo-header .navigation .dropdown .dropdown-menu li:focus a {
  background: #052227;
  color: #FFFFFF;
}
.header-005 .logo-header .navigation .min-searcher button:hover * {
  fill: #FFFFFF;
}
.header-005 .menu-bar {
  background: #007084;
}
.header-005 .menu-bar .menu-sections li a {
  color: #FFFFFF;
}
.header-005 .menu-bar .menu-sections li a:hover,
.header-005 .menu-bar .menu-sections li a:focus {
  background-color: #052227;
}
.header-005 .menu-bar .menu-sections li.active a {
  background-color: #052227;
}
.header-005 .menu-bar .menu-sections li.dropdown .dropdown-menu li a {
  background-color: #64B2C1;
}
.header-005 .menu-bar .menu-sections li.dropdown .dropdown-menu li.active a,
.header-005 .menu-bar .menu-sections li.dropdown .dropdown-menu li:hover a {
  background-color: #052227;
}
.header-005 .menu-bar .social-networks li a:hover svg,
.header-005 .menu-bar .social-networks li a:hover svg * {
  fill: #9ee6f3;
}
.header-005 .menu-bar .social-networks li a:hover [class^="lf-icon"],
.header-005 .menu-bar .social-networks li a:hover [class*=" lf-icon"] {
  color: #9ee6f3;
}
.header-005 .menu-bar .social-networks svg,
.header-005 .menu-bar .social-networks svg * {
  fill: #FFFFFF;
}
.header-005 .menu-bar .social-networks [class^="lf-icon"],
.header-005 .menu-bar .social-networks [class*=" lf-icon"] {
  color: #FFFFFF;
}
.header-005.light .logo-header {
  background: #FFFFFF;
}
.header-005.light .logo-header .navigation li a svg,
.header-005.light .logo-header .navigation li a svg * {
  fill: #007084;
}
.header-005.light .logo-header .navigation li a .language {
  color: #007084;
}
.header-005.light .logo-header .navigation li a:hover .language,
.header-005.light .logo-header .navigation li a:focus .language {
  color: #052227;
}
.header-005.light .logo-header .navigation li a:hover svg,
.header-005.light .logo-header .navigation li a:hover svg *,
.header-005.light .logo-header .navigation li a:focus svg,
.header-005.light .logo-header .navigation li a:focus svg * {
  fill: #052227;
}
.header-006 .navbar-default {
  background-color: #007084;
}
.header-006 .navbar-default .navbar-toggle:hover,
.header-006 .navbar-default .navbar-toggle:focus {
  background-color: #1697af;
}
.header-006 .navbar-default .navbar-toggle:hover .icon-bar,
.header-006 .navbar-default .navbar-toggle:focus .icon-bar {
  background-color: #FFFFFF;
}
.header-006 .navbar-default .navbar-toggle:hover .icon-bar:focus,
.header-006 .navbar-default .navbar-toggle:hover .icon-bar:hover,
.header-006 .navbar-default .navbar-toggle:focus .icon-bar:focus,
.header-006 .navbar-default .navbar-toggle:focus .icon-bar:hover {
  background-color: #FFFFFF;
}
.header-006 .navbar-default .navbar-toggle .icon-bar {
  background-color: #FFFFFF;
}
.header-006 .navbar-default .navbar-toggle .icon-bar:focus,
.header-006 .navbar-default .navbar-toggle .icon-bar:hover {
  background-color: #007084;
}
.header-006 .navbar-default .navbar-nav >.open a {
  background-color: #64B2C1;
  color: #FFFFFF;
}
.header-006 .navbar-default .navbar-nav >.open a:focus,
.header-006 .navbar-default .navbar-nav >.open a:hover {
  background-color: #052227;
  color: #FFFFFF;
}
.header-006 .navbar-default .navbar-nav >.open a.dropdown-toggle {
  background-color: #052227;
}
.header-006 .navbar-default .navbar-nav >.open .dropdown-menu > li > a:hover {
  background-color: #052227;
  color: #FFFFFF;
}
.header-006 .navbar-default .navbar-nav >.open .dropdown-menu .active>a,
.header-006 .navbar-default .navbar-nav >.open .dropdown-menu .active>a:focus,
.header-006 .navbar-default .navbar-nav >.open .dropdown-menu .active>a:hover {
  background-color: #052227;
}
.header-006 .navbar-default .navbar-nav .searcher {
  border: 1px solid #64B2C1;
}
.header-006 .navbar-default .navbar-nav .searcher + button svg,
.header-006 .navbar-default .navbar-nav .searcher + button svg * {
  fill: #007084 !important;
}
.header-006 .logo-header {
  background: #007084;
}
.header-006 .logo-header .navigation li a svg,
.header-006 .logo-header .navigation li a svg * {
  fill: #FFFFFF;
}
.header-006 .logo-header .navigation li a .language {
  color: #FFFFFF;
}
.header-006 .logo-header .navigation li a .language svg,
.header-006 .logo-header .navigation li a .language svg * {
  fill: #FFFFFF;
}
.header-006 .logo-header .navigation li a:hover .language,
.header-006 .logo-header .navigation li a:focus .language {
  color: #9ee6f3;
}
.header-006 .logo-header .navigation li a:hover svg,
.header-006 .logo-header .navigation li a:hover svg *,
.header-006 .logo-header .navigation li a:focus svg,
.header-006 .logo-header .navigation li a:focus svg * {
  fill: #9ee6f3;
}
.header-006 .logo-header .navigation .dropdown .dropdown-menu li a {
  color: #FFFFFF;
  background: #64B2C1;
}
.header-006 .logo-header .navigation .dropdown .dropdown-menu li.active a {
  background: #052227;
}
.header-006 .logo-header .navigation .dropdown .dropdown-menu li:hover a,
.header-006 .logo-header .navigation .dropdown .dropdown-menu li:focus a {
  background: #052227;
  color: #FFFFFF;
}
.header-006 .logo-header .social-networks li a svg,
.header-006 .logo-header .social-networks li a svg * {
  fill: #FFFFFF;
}
.header-006 .logo-header .social-networks li a [class^="lf-icon"],
.header-006 .logo-header .social-networks li a [class*=" lf-icon"] {
  color: #FFFFFF;
}
.header-006 .logo-header .social-networks li a:hover svg,
.header-006 .logo-header .social-networks li a:hover svg *,
.header-006 .logo-header .social-networks li a:focus svg,
.header-006 .logo-header .social-networks li a:focus svg * {
  fill: #9ee6f3;
}
.header-006 .logo-header .social-networks li a:hover [class^="lf-icon"],
.header-006 .logo-header .social-networks li a:hover [class*=" lf-icon"],
.header-006 .logo-header .social-networks li a:focus [class^="lf-icon"],
.header-006 .logo-header .social-networks li a:focus [class*=" lf-icon"] {
  color: #9ee6f3;
}
.header-006 .menu-bar {
  background: #007084;
  border-top: solid 1px #052227;
}
.header-006 .menu-bar .menu-sections li a {
  color: #FFFFFF;
}
.header-006 .menu-bar .menu-sections li a:hover,
.header-006 .menu-bar .menu-sections li a:focus {
  background-color: #052227;
}
.header-006 .menu-bar .menu-sections li.active a {
  background-color: #052227;
}
.header-006 .menu-bar .menu-sections li.dropdown .dropdown-menu li a {
  background-color: #64B2C1;
}
.header-006 .menu-bar .menu-sections li.dropdown .dropdown-menu li a.active,
.header-006 .menu-bar .menu-sections li.dropdown .dropdown-menu li a:hover {
  background-color: #052227;
}
.header-006 .menu-bar .menu-sections li.dropdown .dropdown-menu li.active a,
.header-006 .menu-bar .menu-sections li.dropdown .dropdown-menu li:hover a {
  background-color: #052227;
}
.header-006 .menu-bar .navigation li a svg,
.header-006 .menu-bar .navigation li a svg * {
  fill: #FFFFFF;
}
.header-006.light .logo-header {
  background: #FFFFFF;
}
.header-006.light .logo-header .navigation li a svg,
.header-006.light .logo-header .navigation li a svg * {
  fill: #007084;
}
.header-006.light .logo-header .navigation li a .language {
  color: #007084;
}
.header-006.light .logo-header .navigation li a:hover .language,
.header-006.light .logo-header .navigation li a:focus .language {
  color: #000000;
}
.header-006.light .logo-header .navigation li a:hover svg,
.header-006.light .logo-header .navigation li a:hover svg *,
.header-006.light .logo-header .navigation li a:focus svg,
.header-006.light .logo-header .navigation li a:focus svg * {
  fill: #052227;
}
.header-006.light .logo-header .social-networks li a svg,
.header-006.light .logo-header .social-networks li a svg * {
  fill: #007084;
}
.header-006.light .logo-header .social-networks li a [class^="lf-icon"],
.header-006.light .logo-header .social-networks li a [class*=" lf-icon"] {
  color: #007084;
}
.header-006.light .logo-header .social-networks li a:hover svg,
.header-006.light .logo-header .social-networks li a:hover svg *,
.header-006.light .logo-header .social-networks li a:focus svg,
.header-006.light .logo-header .social-networks li a:focus svg * {
  fill: #052227;
}
.header-006.light .logo-header .social-networks li a:hover [class^="lf-icon"],
.header-006.light .logo-header .social-networks li a:hover [class*=" lf-icon"],
.header-006.light .logo-header .social-networks li a:focus [class^="lf-icon"],
.header-006.light .logo-header .social-networks li a:focus [class*=" lf-icon"] {
  color: #052227;
}
.header-mobile .navbar-default {
  background-color: #007084;
}
.header-mobile .navbar-default .navbar-toggle:hover,
.header-mobile .navbar-default .navbar-toggle:focus {
  background-color: #1697af;
}
.header-mobile .navbar-default .navbar-toggle:hover .icon-bar,
.header-mobile .navbar-default .navbar-toggle:focus .icon-bar {
  background-color: #FFFFFF;
}
.header-mobile .navbar-default .navbar-toggle:hover .icon-bar:focus,
.header-mobile .navbar-default .navbar-toggle:hover .icon-bar:hover,
.header-mobile .navbar-default .navbar-toggle:focus .icon-bar:focus,
.header-mobile .navbar-default .navbar-toggle:focus .icon-bar:hover {
  background-color: #FFFFFF;
}
.header-mobile .navbar-default .navbar-toggle .icon-bar {
  background-color: #FFFFFF;
}
.header-mobile .navbar-default .navbar-toggle .icon-bar:focus,
.header-mobile .navbar-default .navbar-toggle .icon-bar:hover {
  background-color: #007084;
}
.header-mobile .navbar-nav >.open a {
  background-color: #64B2C1;
  color: #FFFFFF;
}
.header-mobile .navbar-nav >.open a:focus,
.header-mobile .navbar-nav >.open a:hover {
  background-color: #052227;
  color: #FFFFFF;
}
.header-mobile .navbar-nav >.open a.dropdown-toggle {
  background-color: #052227;
}
.header-mobile .navbar-nav >.open .dropdown-menu > li > a:hover {
  background-color: #052227;
  color: #FFFFFF;
}
.header-mobile .navbar-nav >.open .dropdown-menu .active>a,
.header-mobile .navbar-nav >.open .dropdown-menu .active>a:focus,
.header-mobile .navbar-nav >.open .dropdown-menu .active>a:hover {
  background-color: #052227;
}
.header-mobile .navbar-nav .searcher {
  border: 1px solid #64B2C1;
}
.header-mobile .navbar-nav .searcher + button svg,
.header-mobile .navbar-nav .searcher + button svg * {
  fill: #007084 !important;
}
.header-mobile .navbar-nav .active a {
  background-color: #052227;
  color: #FFFFFF;
}
.header-mobile .navbar-nav .active a:hover {
  background-color: #052227;
  color: #FFFFFF;
}
.header-mobile .navbar-nav >li>a {
  color: #FFFFFF;
}
.header-mobile .navbar-nav >li>a svg,
.header-mobile .navbar-nav >li>a svg * {
  fill: #FFFFFF;
}
.header-mobile .navbar-nav >li>a:hover {
  color: #FFFFFF !important;
}
.header-mobile .navbar-nav >li>a:hover svg,
.header-mobile .navbar-nav >li>a:hover svg * {
  fill: #FFFFFF !important;
}
.header-mobile .logo-header {
  background: #007084;
}
.header-mobile .logo-header .navigation li a svg,
.header-mobile .logo-header .navigation li a svg * {
  fill: #FFFFFF;
}
.header-mobile .logo-header .navigation li a:hover svg,
.header-mobile .logo-header .navigation li a:hover svg *,
.header-mobile .logo-header .navigation li a:focus svg,
.header-mobile .logo-header .navigation li a:focus svg * {
  fill: #9ee6f3;
}
.header-mobile .logo-header .navigation .dropdown .dropdown-menu li a {
  background: #64B2C1;
}
.header-mobile .logo-header .navigation .dropdown .dropdown-menu li.active a {
  background: #052227;
}
.header-mobile .logo-header .navigation .dropdown .dropdown-menu li:hover a,
.header-mobile .logo-header .navigation .dropdown .dropdown-menu li:focus a {
  background: #052227;
  color: #FFFFFF;
}
.header-mobile .logo-header .social-networks li a svg,
.header-mobile .logo-header .social-networks li a svg * {
  fill: #FFFFFF;
}
.header-mobile .logo-header .social-networks li a [class^="lf-icon"],
.header-mobile .logo-header .social-networks li a [class*=" lf-icon"] {
  color: #FFFFFF;
}
.header-mobile .logo-header .social-networks li a:hover svg,
.header-mobile .logo-header .social-networks li a:hover svg *,
.header-mobile .logo-header .social-networks li a:focus svg,
.header-mobile .logo-header .social-networks li a:focus svg * {
  fill: #9ee6f3;
}
.header-mobile .logo-header .social-networks li a:hover [class^="lf-icon"],
.header-mobile .logo-header .social-networks li a:hover [class*=" lf-icon"],
.header-mobile .logo-header .social-networks li a:focus [class^="lf-icon"],
.header-mobile .logo-header .social-networks li a:focus [class*=" lf-icon"] {
  color: #9ee6f3;
}
.header-mobile .menu-bar {
  background: #007084;
  border-top: solid 1px #052227;
}
.header-mobile .menu-bar .menu-sections li a {
  color: #FFFFFF;
}
.header-mobile .menu-bar .menu-sections li a:hover,
.header-mobile .menu-bar .menu-sections li a:focus {
  background-color: #64B2C1;
}
.header-mobile .menu-bar .menu-sections li.active a {
  background-color: #64B2C1;
}
.header-mobile .menu-bar .menu-sections li.dropdown .dropdown-menu li a {
  background-color: #64B2C1;
}
.header-mobile .menu-bar .menu-sections li.dropdown .dropdown-menu li a.active,
.header-mobile .menu-bar .menu-sections li.dropdown .dropdown-menu li a:hover {
  background-color: #052227;
}
.header-mobile .menu-bar .menu-sections li.dropdown .dropdown-menu li.active a,
.header-mobile .menu-bar .menu-sections li.dropdown .dropdown-menu li:hover a {
  background-color: #052227;
}
.header-mobile .menu-bar .navigation li a svg,
.header-mobile .menu-bar .navigation li a svg * {
  fill: #FFFFFF;
}
.header-mobile .social-networks li a:hover svg * {
  fill: #052227;
}
.header-mobile .social-networks li a:hover [class^="lf-icon"],
.header-mobile .social-networks li a:hover [class*=" lf-icon"] {
  color: #052227;
}
.header-mobile .social-networks li a svg {
  fill: #FFFFFF;
}
.header-mobile .social-networks li a [class^="lf-icon"],
.header-mobile .social-networks li a [class*=" lf-icon"] {
  color: #FFFFFF;
}
.header-mobile.light .logo-header {
  background: #FFFFFF;
}
.header-mobile.light .navbar-default {
  background-color: #FFFFFF;
}
.header-mobile.light .navbar-default .navbar-toggle:hover,
.header-mobile.light .navbar-default .navbar-toggle:focus {
  background-color: #007084;
}
.header-mobile.light .navbar-default .navbar-toggle:hover .icon-bar,
.header-mobile.light .navbar-default .navbar-toggle:focus .icon-bar {
  background-color: #FFFFFF;
}
.header-mobile.light .navbar-default .navbar-toggle:hover .icon-bar:focus,
.header-mobile.light .navbar-default .navbar-toggle:hover .icon-bar:hover,
.header-mobile.light .navbar-default .navbar-toggle:focus .icon-bar:focus,
.header-mobile.light .navbar-default .navbar-toggle:focus .icon-bar:hover {
  background-color: #FFFFFF;
}
.header-mobile.light .navbar-default .navbar-toggle .icon-bar {
  background-color: #007084;
}
.header-mobile.light .navbar-default .navbar-toggle .icon-bar:focus,
.header-mobile.light .navbar-default .navbar-toggle .icon-bar:hover {
  background-color: #007084;
}
.header-mobile.light .navigation li a svg,
.header-mobile.light .navigation li a svg * {
  fill: #007084;
}
.header-mobile.light .navigation li a:hover svg,
.header-mobile.light .navigation li a:hover svg *,
.header-mobile.light .navigation li a:focus svg,
.header-mobile.light .navigation li a:focus svg * {
  fill: #052227;
}
.header-mobile.light .navbar-nav >li>a {
  color: #007084;
}
.header-mobile.light .navbar-nav a .dropdown-toggle svg,
.header-mobile.light .navbar-nav a .dropdown-toggle svg * {
  fill: #FFFFFF;
}
.header-mobile.light .navbar-nav a svg,
.header-mobile.light .navbar-nav a svg * {
  fill: #007084;
}
.header-mobile.light .navbar-nav.separator,
.header-mobile.light .navbar-nav .separator {
  border-top: 1px solid #007084;
}
.header-mobile.light .navbar-nav .searcher {
  background: #FFFFFF;
}
.header-mobile.light .navbar-nav >.open .dropdown-menu > li > a {
  color: #FFFFFF;
}
.header-mobile.light .social-networks li a svg,
.header-mobile.light .social-networks li a svg * {
  fill: #007084;
}
.header-mobile.light .social-networks li a [class^="lf-icon"],
.header-mobile.light .social-networks li a [class*=" lf-icon"] {
  color: #007084;
}
.header-mobile.light .social-networks li a:hover svg,
.header-mobile.light .social-networks li a:hover svg *,
.header-mobile.light .social-networks li a:focus svg,
.header-mobile.light .social-networks li a:focus svg * {
  fill: #052227;
}
.header-mobile.light .social-networks li a:hover [class^="lf-icon"],
.header-mobile.light .social-networks li a:hover [class*=" lf-icon"],
.header-mobile.light .social-networks li a:focus [class^="lf-icon"],
.header-mobile.light .social-networks li a:focus [class*=" lf-icon"] {
  color: #052227;
}
.header-mobile .authentication-widget.authentication-widget-vertical .authentication-widget-content a,
.header-mobile .authentication-widget.authentication-widget-vertical .authentication-widget-content label {
  color: #007084;
  background-color: transparent;
}
.header-mobile .captcha .btn-refresh svg {
  fill: #FFFFFF;
}
.header-iframe .menu-bar {
  background: #007084;
  border-top: solid 1px #052227;
}
.header-iframe .menu-bar .menu-sections {
  background: #007084;
}
.header-iframe .menu-bar .menu-sections li a {
  color: #FFFFFF;
}
.header-iframe .menu-bar .menu-sections li a:hover,
.header-iframe .menu-bar .menu-sections li a:focus {
  background-color: #052227;
}
.header-iframe .menu-bar .menu-sections li.active a {
  background-color: #052227;
}
.header-iframe .menu-bar .menu-sections li.dropdown .dropdown-menu li a {
  background-color: #007084;
}
.header-iframe .menu-bar .menu-sections li.dropdown .dropdown-menu li.active a,
.header-iframe .menu-bar .menu-sections li.dropdown .dropdown-menu li:hover a {
  background-color: #052227;
}
.header-iframe .menu-bar .navigation li.dropdown .dropdown-menu li a {
  background-color: #64B2C1;
}
.header-iframe .menu-bar .navigation li.dropdown .dropdown-menu li.active a,
.header-iframe .menu-bar .navigation li.dropdown .dropdown-menu li:hover a {
  background-color: #052227;
}
.header-iframe .menu-bar .navigation li.dropdown a svg,
.header-iframe .menu-bar .navigation li.dropdown a svg * {
  fill: #FFFFFF;
}
.header-iframe .menu-bar .navigation li.dropdown a [class^="lf-icon"],
.header-iframe .menu-bar .navigation li.dropdown a [class*=" lf-icon"] {
  color: #FFFFFF;
}
.header-iframe .menu-bar .navigation li.dropdown a .language {
  color: #FFFFFF;
}
.header-iframe .menu-bar .navigation li.dropdown a:hover .language,
.header-iframe .menu-bar .navigation li.dropdown a:focus .language {
  color: #9ee6f3;
}
.header-iframe .menu-bar .navigation li.dropdown a:hover svg,
.header-iframe .menu-bar .navigation li.dropdown a:hover svg *,
.header-iframe .menu-bar .navigation li.dropdown a:focus svg,
.header-iframe .menu-bar .navigation li.dropdown a:focus svg * {
  fill: #9ee6f3;
}
.header-iframe .menu-bar .navigation li.dropdown a:hover [class^="lf-icon"],
.header-iframe .menu-bar .navigation li.dropdown a:hover [class*=" lf-icon"],
.header-iframe .menu-bar .navigation li.dropdown a:focus [class^="lf-icon"],
.header-iframe .menu-bar .navigation li.dropdown a:focus [class*=" lf-icon"] {
  color: #9ee6f3;
}
.livebook-nav {
  background: #71daed;
}
@media only screen and (max-width: 991px) {
  .livebook-nav.isStickyMobile.isSticky {
    background: #64B2C1;
  }
}
.livebook-nav .title-section {
  color: #007084;
}
.livebook-nav .title-section svg {
  fill: #007084;
}
.livebook-nav ul.text-navigation {
  border-top: 1px solid #007084;
}
.livebook-nav ul.text-navigation li a {
  color: #007084;
  background: #71daed;
}
.livebook-nav ul.text-navigation li a:hover,
.livebook-nav ul.text-navigation li a:focus {
  background: #64B2C1;
}
.livebook-nav ul.text-navigation li a svg {
  fill: #007084;
}
.livebook-nav ul.text-navigation li a.selected,
.livebook-nav ul.text-navigation li a.selected * {
  background: #007084;
}
@media only screen and (min-width: 992px) {
  .livebook-nav ul.livebook-tools {
    border-bottom: 1px solid #007084;
  }
}
.livebook-nav ul.livebook-tools li a svg {
  fill: #007084;
}
.livebook-nav ul.livebook-tools li a:hover {
  background-color: #64B2C1;
}
.livebook-nav ul.livebook-tools li a:hover svg {
  fill: #052227;
}
.livebook-nav .menu-trigger svg {
  fill: #007084;
}
.livebook-nav .menu-trigger:hover svg {
  fill: #052227;
}
.livebook-index-book svg {
  fill: #007084;
}
.livebook-index-book .livebook-index-loader-container .livebook-index-loader div {
  border: 8px solid #007084;
  border-color: #007084 transparent transparent transparent;
}
.xbook-book .xbook-complete-section .xbook-section .xbook-section-head h3.title-level-1 {
  color: #007084 !important;
  border-bottom: 1px solid #007084;
}
.xbook-book .xbook-complete-section .xbook-section .xbook-section-head h3.title-level-2,
.xbook-book .xbook-complete-section .xbook-section .xbook-section-head h3.title-level-3 {
  color: #007084 !important;
}
.multicolumnbox-icoUpNoButton ul li .multicolumnbox-item {
  background: #f1f1f1;
  border-top: solid 4px #007084;
  color: #383838;
}
.multicolumnbox-icoUpNoButton ul li .multicolumnbox-item svg {
  fill: #007084;
}
.multicolumnbox-icoUpNoButton ul li .multicolumnbox-item:hover {
  color: #383838;
}
.multicolumnbox-icoUpButton ul li .multicolumnbox-item {
  border-bottom: solid 1px #007084;
  color: #383838;
}
.multicolumnbox-icoUpButton ul li .multicolumnbox-item h3 {
  color: #007084;
}
.multicolumnbox-icoUpButton ul li .multicolumnbox-item svg {
  fill: #007084;
}
.multicolumnbox-icoUpButton ul li .multicolumnbox-item a {
  background: #007084;
  color: #FFFFFF;
  border: solid 1px #052227;
}
.multicolumnbox-icoUpButton ul li .multicolumnbox-item a:hover {
  background: #052227;
}
.multicolumnbox-bgcolormosaic ul li {
  background-color: #f1f1f1;
}
.multicolumnbox-bgcolormosaic ul li .multicolumnbox-item {
  color: #383838;
}
@media only screen and (max-width: 767px) {
  .multicolumnbox-bgcolormosaic ul li:nth-child(odd) {
    background-color: #007084;
  }
  .multicolumnbox-bgcolormosaic ul li:nth-child(odd) .multicolumnbox-item {
    color: #FFFFFF;
  }
}
@media only screen and (min-width: 768px) {
  .multicolumnbox-bgcolormosaic ul li:nth-child(1),
  .multicolumnbox-bgcolormosaic ul li:nth-child(4),
  .multicolumnbox-bgcolormosaic ul li:nth-child(5),
  .multicolumnbox-bgcolormosaic ul li:nth-child(8) {
    background-color: #007084;
  }
  .multicolumnbox-bgcolormosaic ul li:nth-child(1) .multicolumnbox-item,
  .multicolumnbox-bgcolormosaic ul li:nth-child(4) .multicolumnbox-item,
  .multicolumnbox-bgcolormosaic ul li:nth-child(5) .multicolumnbox-item,
  .multicolumnbox-bgcolormosaic ul li:nth-child(8) .multicolumnbox-item {
    color: #FFFFFF;
  }
  .multicolumnbox-bgcolormosaic ul li:nth-child(2),
  .multicolumnbox-bgcolormosaic ul li:nth-child(3),
  .multicolumnbox-bgcolormosaic ul li:nth-child(6),
  .multicolumnbox-bgcolormosaic ul li:nth-child(7) {
    background-color: #f1f1f1;
  }
  .multicolumnbox-bgcolormosaic ul li:nth-child(2) .multicolumnbox-item,
  .multicolumnbox-bgcolormosaic ul li:nth-child(3) .multicolumnbox-item,
  .multicolumnbox-bgcolormosaic ul li:nth-child(6) .multicolumnbox-item,
  .multicolumnbox-bgcolormosaic ul li:nth-child(7) .multicolumnbox-item {
    color: #383838;
  }
  .multicolumnbox-bgcolormosaic ul li:nth-child(2) .multicolumnbox-item h3,
  .multicolumnbox-bgcolormosaic ul li:nth-child(3) .multicolumnbox-item h3,
  .multicolumnbox-bgcolormosaic ul li:nth-child(6) .multicolumnbox-item h3,
  .multicolumnbox-bgcolormosaic ul li:nth-child(7) .multicolumnbox-item h3 {
    color: #383838;
  }
}
@media only screen and (min-width: 992px) {
  .multicolumnbox-bgcolormosaic ul li:nth-child(1),
  .multicolumnbox-bgcolormosaic ul li:nth-child(3),
  .multicolumnbox-bgcolormosaic ul li:nth-child(6),
  .multicolumnbox-bgcolormosaic ul li:nth-child(8) {
    background-color: #007084;
  }
  .multicolumnbox-bgcolormosaic ul li:nth-child(1) .multicolumnbox-item,
  .multicolumnbox-bgcolormosaic ul li:nth-child(3) .multicolumnbox-item,
  .multicolumnbox-bgcolormosaic ul li:nth-child(6) .multicolumnbox-item,
  .multicolumnbox-bgcolormosaic ul li:nth-child(8) .multicolumnbox-item {
    color: #FFFFFF;
  }
  .multicolumnbox-bgcolormosaic ul li:nth-child(1) .multicolumnbox-item h3,
  .multicolumnbox-bgcolormosaic ul li:nth-child(3) .multicolumnbox-item h3,
  .multicolumnbox-bgcolormosaic ul li:nth-child(6) .multicolumnbox-item h3,
  .multicolumnbox-bgcolormosaic ul li:nth-child(8) .multicolumnbox-item h3 {
    color: #FFFFFF;
  }
  .multicolumnbox-bgcolormosaic ul li:nth-child(2),
  .multicolumnbox-bgcolormosaic ul li:nth-child(4),
  .multicolumnbox-bgcolormosaic ul li:nth-child(5),
  .multicolumnbox-bgcolormosaic ul li:nth-child(7) {
    background-color: #f1f1f1;
  }
  .multicolumnbox-bgcolormosaic ul li:nth-child(2) .multicolumnbox-item,
  .multicolumnbox-bgcolormosaic ul li:nth-child(4) .multicolumnbox-item,
  .multicolumnbox-bgcolormosaic ul li:nth-child(5) .multicolumnbox-item,
  .multicolumnbox-bgcolormosaic ul li:nth-child(7) .multicolumnbox-item {
    color: #383838;
  }
  .multicolumnbox-bgcolormosaic ul li:nth-child(2) .multicolumnbox-item h3,
  .multicolumnbox-bgcolormosaic ul li:nth-child(4) .multicolumnbox-item h3,
  .multicolumnbox-bgcolormosaic ul li:nth-child(5) .multicolumnbox-item h3,
  .multicolumnbox-bgcolormosaic ul li:nth-child(7) .multicolumnbox-item h3 {
    color: #383838;
  }
}
.multicolumnbox-bgcimgmosaic ul li {
  background-color: #f1f1f1;
}
.multicolumnbox-bgcimgmosaic ul li .multicolumnbox-item {
  color: #000000;
}
.multicolumnbox-bgcimgmosaic ul li .multicolumnbox-item p {
  text-shadow: 1px 1px 1px #f4f4f4;
}
.multicolumnbox-bgcimgmosaic ul li .multicolumnbox-item:after {
  background-color: #FFFFFF;
}
.multicolumnbox-bgcimgmosaic ul li .multicolumnbox-item:hover,
.multicolumnbox-bgcimgmosaic ul li .multicolumnbox-item:focus {
  color: #052227;
}
.news-list ul li .item {
  color: #383838;
}
.news-list ul li .item p {
  border-bottom: solid 1px #007084;
}
.news-list ul li .item .content-type {
  color: #007084;
}
.news-list ul li .item svg {
  fill: #007084;
}
.news-list ul li .item .news-date {
  color: #007084;
}
.news-list ul li .item:hover {
  color: #383838;
}
.news-list ul li .item .exclusive-content {
  color: #FFFFFF !important;
  background-color: #007084;
}
.clientlink.it .news-list ul li .item {
  border-bottom: solid 1px #007084;
}
.bg-no-results {
  background-color: rgba(16,112,130,0.1);
}
.bg-no-results svg {
  fill: #007084;
}
.bg-no-results span {
  color: #007084;
}
.newsreel ul li .item {
  color: #383838;
}
.newsreel ul li .item p {
  border-bottom: solid 1px #007084;
}
.newsreel ul li .item svg {
  fill: #007084;
}
.newsreel ul li .item .news-date {
  color: #007084;
}
.newsreel ul li .item:hover {
  color: #383838;
}
.newsreel ul li .item .exclusive-content {
  color: #FFFFFF !important;
  background-color: #007084;
}
.newsreel .read-more:before {
  background-color: #007084;
}
.pagination svg,
.pagination svg * {
  fill: #007084;
}
.singleContent .downloadableContent .downloadButton {
  background-color: #64B2C1;
}
.singleContent .downloadableContent .downloadButton svg,
.singleContent .downloadableContent .downloadButton svg * {
  fill: #007084;
}
.singleContent .downloadableContent .downloadButton:hover {
  background-color: #052227;
  color: #FFFFFF;
}
.singleContent .downloadableContent .downloadButton:hover svg,
.singleContent .downloadableContent .downloadButton:hover svg * {
  fill: #FFFFFF;
}
.sitemap li a span {
  border-left: solid 3px #007084;
  color: #007084;
}
.sitemap li a svg,
.sitemap li a svg * {
  fill: #007084;
}
.sitemap li a:hover span {
  color: #007084;
  border-left: solid 3px #007084;
}
.sitemap li a:hover svg,
.sitemap li a:hover svg * {
  fill: #007084;
}
.slick-prev.slick-disabled svg,
.slick-prev.slick-disabled svg *,
.slick-next.slick-disabled svg,
.slick-next.slick-disabled svg * {
  fill: #43cee8;
}
.slick-prev svg,
.slick-prev svg *,
.slick-next svg,
.slick-next svg * {
  fill: #007084;
}
.slick-dots li button {
  border: solid 2px #007084;
}
.timeline-001 .title {
  color: #007084;
}
.timeline-001:before {
  background: #007084;
}
.timeline-001 .event {
  background: #FFF;
}
@media only screen and (max-width: 767px) {
  .timeline-001 .event {
    border: 1px solid #007084;
  }
}
@media only screen and (min-width: 768px) {
  .timeline-001 .event:after {
    background: #007084;
    border: 3px solid #FFFFFF;
  }
}
.timeline-001 .event:nth-child(even):after {
  box-shadow: 1px 0px 0px 0px #007084;
}
.timeline-001 .event:nth-child(odd):after {
  box-shadow: -1px 0px 0px 0px #007084;
}
.timeline-001 .event .year {
  color: #007084;
}
.timeline-001 .event hr {
  border-bottom: 1px solid #007084;
}
.timeline-doubleColumn li {
  border-left: solid 2px #007084;
}
.timeline-doubleColumn li span {
  color: #007084;
  background: #FFFFFF;
}
.timeline-doubleColumn li span:before,
.timeline-doubleColumn li span:after {
  border: solid 2px #007084;
}
.timeline-doubleColumn li span:before {
  top: 0;
  border-bottom: solid 2px transparent;
}
.timeline-doubleColumn li span:after {
  bottom: 0;
  border-top: solid 2px transparent;
}
.timeline-doubleColumn li strong {
  color: #007084;
}
h1 {
  color: #007084;
}
h1 span:after {
  border-bottom: solid 1px #007084;
}
h2 {
  color: #007084;
}
h2 span:after {
  border-bottom: solid 1px #007084;
}
.advancedSearch.advancedSearch-colour {
  background-color: #64B2C1;
}
.advancedSearch .deselect-filters {
  background-color: #007084;
}
.advancedSearch .deselect-filters:hover,
.advancedSearch .deselect-filters:focus {
  background-color: #052227;
}
.card {
  color: #007084;
}
.card:hover .info-card {
  background-color: #43cee8;
  color: #007084;
}
.card:hover .info-card .mail {
  color: #007084;
}
.card:hover .info-card .social-networks li svg {
  fill: #007084;
}
.card-info-mail {
  color: #007084;
}
.card-info-mail:hover .info-card {
  background-color: #43cee8;
  color: #007084;
}
.card-info-mail:hover .info-card .social-networks {
  background: #007084;
}
.card-info-mail:hover .info-card .social-networks li svg {
  fill: #43cee8;
}
.card-info-mail:hover .info-card .mail,
.card-info-mail:hover .info-card .phone {
  color: #43cee8;
  background: #007084;
}
.card-info-mail:hover .info-card svg {
  fill: #43cee8;
}
.card-mail {
  color: #007084;
}
.card-mail .info {
  border-top: 1px solid #007084;
}
.card-mail .social-networks li svg {
  fill: #43cee8;
}
.card-mail:hover .cont-hover {
  color: #007084;
}
.card-mail:hover .cont-hover .bg {
  background: #007084;
}
.card-mail:hover .cont-hover .bg .mail-tel,
.card-mail:hover .cont-hover .bg .mail-tel a {
  color: #43cee8;
}
.card-mail:hover .cont-hover .bg svg {
  fill: #43cee8;
}
.bg-info {
  background-color: #43cee8;
}
.bg-info .text1 {
  color: #007084;
}
.bg-info .text2 {
  color: #007084;
}
.bg-info hr {
  border-top: 1px solid #007084;
}
.banda-iconos {
  background: #007084;
}
.banda-iconos .social-networks li a.bg-circulo {
  background: #43cee8;
}
.banda-iconos .social-networks li a.bg-circulo svg {
  fill: #007084;
}
.banda-iconos .social-networks li a.bg-cuadrado {
  background: #43cee8;
}
.banda-iconos .social-networks li a.bg-cuadrado svg {
  fill: #007084;
}
.banda-iconos .social-networks li svg {
  fill: #ffffff;
}
.banda-iconos .mail,
.banda-iconos .phone {
  color: #ffffff;
}
.banda-iconos svg {
  fill: #ffffff;
}
#cookie_banner input:checked + .slider {
  background-color: #007084;
}
#cookie_banner input:focus + .slider {
  box-shadow: 0 0 1px #007084;
}
.owl-carousel .owl-nav button {
  color: #007084;
}
.owl-carousel .owl-nav button.owl-prev {
  color: #007084;
}
.owl-carousel .owl-nav button.owl-next {
  color: #007084;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #007084;
}
.cont-form-user .icon-login svg {
  fill: #007084;
}
